
  @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*{
    margin:0;
    padding:0;
}
body{
  background-color: black;
    color:white;
} 


.left{
    width:25vw;
    padding:10px;
}
.right{
    width:75vw;
}
.home{
     padding:10px;
    
}
.home ul li{
    width:12px;
    list-style: none;
    display:flex;
    gap:15px;
     padding-top:14px; 
    font-weight:bold;
}
.heading{
   
    display:flex;
    gap:15px;
    padding:14px;
    padding:23px 14px;
    font-weight:bold;
    align-items: center;
}
.heading img{
   width:30px 
}
.library{
    min-height: 80vh;
    position: relative;
}
.footer{
    display:flex;
    font-size:10px;
    gap: 13px;
    position:absolute;
    bottom:0;
    color:rgb(87, 86, 85)
   
   
}
.footer a{
    color:grey;
}
.right{
    margin: 16px 0;
}
.header{
    display:flex;
    justify-content:space-between;
    background-color: rgba(34,34,34);
}
.header > *{
    padding:20px;
   
}
.spotifyPlaylists{
    padding:16px;
}
.cardContainer{
    margin: 30px;
    display:flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow: scroll;
    max-height: 70vh;

}
.spotifyPlaylists .card{
    width:200px;
    padding:10px;
    border-radius:5px;
    background-color: rgb(65, 62, 62);
}
.card > *{
    padding-top: 3px;
}
.card img{
    width:100%;
    object-fit: contain;

}
/* .play{
    width:28px;
    height:28px;
    background-color: #1fdf64;
    padding:4px;
    display:flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top:168px;
    right:17px;
    opacity:0;
    transition: all 1s ease-out;
} */

.signupbtn{
    background-color: rgba(34,34,34);
    color:rgb(184, 179, 179);
    font-weight: bold;
    border:none;
    outline:none;
    cursor:pointer;
    font-size: 18px;
}
.buttons > *{
    margin:0 12px;
}
.signupbtn:hover{
    font-size: 17px;
    color:white;
}
.loginbtn{
    background-color: white;
    border-radius: 21px;
    color:black;
    padding: 10px;
    width:79px;
    cursor:pointer;
    font-family: 16px;
}
.loginbtn:hover{
    font-weight:bold;
    
}